In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_table('benchmark_data/Chow_Rep1.genes.results')
df2 = pd.read_table('benchmark_data/Chow_Rep2.genes.results')
df3 = pd.read_table('benchmark_data/Chow_Rep3.genes.results')
df4 = pd.read_table('benchmark_data/HFD_Rep1.genes.results')
df5 = pd.read_table('benchmark_data/HFD_Rep2.genes.results')
df6 = pd.read_table('benchmark_data/HFD_Rep3.genes.results')

In [3]:
import pandas as pd

def merge_dataframes_on_column(dfs, join_column, columns_to_keep, column_name):
    """
    Merge multiple DataFrames on a specified join column and keep only specified columns.

    Args:
    dfs (list of pd.DataFrame): List of DataFrames to merge.
    join_column (str): Name of the column to join on.
    columns_to_keep (list of list of str): List of lists, where each sublist contains the names of the columns
                                           to keep from the corresponding DataFrame.

    Returns:
    pd.DataFrame: A DataFrame resulting from merging all input DataFrames on the join_column and 
                  keeping only the specified columns from each.
    """
    # Ensure columns_to_keep is valid
    if len(dfs) != len(columns_to_keep):
        raise ValueError("Each DataFrame must have a corresponding list of columns to keep.")

    # Reduce the dataframes to only the columns to keep and the join column
    reduced_dfs = [
        df[[join_column] + columns] for df, columns in zip(dfs, columns_to_keep)
        if join_column in df.columns and all(col in df.columns for col in columns)
    ]
    
    # Merge all dataframes on the join column
    merged_df = reduced_dfs[0]
    for df in reduced_dfs[1:]:
        merged_df = pd.merge(merged_df, df, on=join_column, how='inner')
    merged_df.columns = [merged_df.columns[0]] + column_name
    
    return merged_df

# Example usage:
# Assuming you have three DataFrames: df1, df2, df3
# You want to merge them on 'id' column and keep certain columns from each DataFrame:
# result_df = merge_dataframes_on_column([df1, df2, df3], 'id', [['name', 'age'], ['address'], ['salary']])

In [4]:
df_list = [df1, df2, df3, df4, df5, df6]

In [5]:
column_name = ['Chow_Rep1', 'Chow_Rep1', 'Chow_Rep1', 'HFD_Rep1', 'HFD_Rep1', 'HFD_Rep1']

In [6]:
merge_dataframes_on_column(df_list, 'gene_id', [['TPM'] for _ in df_list], column_name)

/var/folders/rn/8krws_b93vv3ckfsgwjhq5z80000gn/T/ipykernel_44462/514212027.py:30: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TPM_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')

,gene_id,Chow_Rep1,Chow_Rep1,Chow_Rep1,HFD_Rep1,HFD_Rep1,HFD_Rep1
0,ENSMUSG00000000001,36.15,34.04,38.34,31.80,43.21,37.89
1,ENSMUSG00000000003,0.00,0.00,0.00,0.00,0.00,0.00
2,ENSMUSG00000000028,0.69,2.01,0.55,0.88,0.64,0.92
3,ENSMUSG00000000031,0.00,0.23,0.00,0.13,0.12,0.19
4,ENSMUSG00000000037,0.00,0.02,0.00,0.00,0.06,0.00
...,...,...,...,...,...,...,...
39012,ENSMUSG00000099329,0.00,2.76,0.36,0.00,2.72,1.33
39013,ENSMUSG00000099330,0.00,0.00,0.00,0.00,0.00,0.00
39014,ENSMUSG00000099331,0.00,0.00,0.00,0.00,0.00,0.00
39015,ENSMUSG00000099332,0.00,0.00,0.00,0.00,0.00,0.00
39016,ENSMUSG00000099334,0.00,0.00,0.00,0.00,0.00,0.00

In [7]:
import simple_teximport

In [8]:
file_list = ['benchmark_data/Chow_Rep1.genes.results', 'benchmark_data/Chow_Rep2.genes.results', 'benchmark_data/Chow_Rep3.genes.results', 'benchmark_data/HFD_Rep1.genes.results', 'benchmark_data/HFD_Rep2.genes.results', 'benchmark_data/HFD_Rep3.genes.results']

In [9]:
txi = simple_teximport.simple_texi(file_list, column_name)

/Users/kevinmbp/Documents/GitHub/simple_deseq/simple_teximport.py:57: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TPM_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')
/Users/kevinmbp/Documents/GitHub/simple_deseq/simple_teximport.py:57: FutureWarning: Passing 'suffixes' which cause duplicate columns {'expected_count_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')
/Users/kevinmbp/Documents/GitHub/simple_deseq/simple_teximport.py:57: FutureWarning: Passing 'suffixes' which cause duplicate columns {'effective_length_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on=join_column, how='inner')

In [10]:
print(txi)

abundance information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep1', 'Chow_Rep1', 'HFD_Rep1',
       'HFD_Rep1', 'HFD_Rep1'],
      dtype='object')]
 count information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep1', 'Chow_Rep1', 'HFD_Rep1',
       'HFD_Rep1', 'HFD_Rep1'],
      dtype='object')]
 length information: [(39017, 7), Index(['gene_id', 'Chow_Rep1', 'Chow_Rep1', 'Chow_Rep1', 'HFD_Rep1',
       'HFD_Rep1', 'HFD_Rep1'],
      dtype='object')]

In [11]:
txi.length

,gene_id,Chow_Rep1,Chow_Rep1,Chow_Rep1,HFD_Rep1,HFD_Rep1,HFD_Rep1
0,ENSMUSG00000000001,3213.00,3213.00,3213.00,3213.00,3213.0,3213.00
1,ENSMUSG00000000003,750.50,750.50,750.50,750.50,750.5,750.50
2,ENSMUSG00000000028,2094.00,1470.08,1957.50,1811.20,1867.8,2035.80
3,ENSMUSG00000000031,1219.60,403.00,1219.60,768.00,886.0,768.00
4,ENSMUSG00000000037,3248.14,4793.01,3248.14,3248.14,3501.0,3248.14
...,...,...,...,...,...,...,...
39012,ENSMUSG00000099329,331.00,331.00,331.00,331.00,331.0,331.00
39013,ENSMUSG00000099330,24.00,24.00,24.00,24.00,24.0,24.00
39014,ENSMUSG00000099331,8.00,8.00,8.00,8.00,8.0,8.00
39015,ENSMUSG00000099332,150.00,150.00,150.00,150.00,150.0,150.00
39016,ENSMUSG00000099334,89.00,89.00,89.00,89.00,89.0,89.00

In [12]:
geometric_means = txi.counts.set_index('gene_id').replace(0, np.nan).apply(np.nanmean, axis=1)
size_factors = txi.counts.set_index('gene_id').div(geometric_means, axis=0).replace(np.inf, np.nan).median(axis=0)
normalized_counts = txi.counts.set_index('gene_id').div(size_factors, axis=1)
baseMean = normalized_counts.mean(axis=1)
result = pd.DataFrame(baseMean, columns=['baseMean'])
result.reset_index(inplace=True)

/Users/kevinmbp/opt/anaconda3/envs/dsc80/lib/python3.8/site-packages/pandas/core/apply.py:828: RuntimeWarning: Mean of empty slice
  results[i] = self.f(v)

In [13]:
import pandas as pd

def filter_genes(dataframe, threshold, min_samples):
    counts = dataframe.set_index('gene_id')
    
    sufficient_counts = (counts >= threshold).sum(axis=1)
    
    filtered_genes = sufficient_counts[sufficient_counts >= min_samples].index
    
    return dataframe[dataframe['gene_id'].isin(filtered_genes)]

filtered = filtered_df = filter_genes(txi.counts, 10, 2)

In [14]:
geometric_means = filtered.set_index('gene_id').replace(0, np.nan).apply(np.nanmean, axis=1)
size_factors = filtered.set_index('gene_id').div(geometric_means, axis=0).replace(np.inf, np.nan).median(axis=0)
normalized_counts = filtered.set_index('gene_id').div(size_factors, axis=1)
baseMean = normalized_counts.mean(axis=1)
result = pd.DataFrame(baseMean, columns=['baseMean'])
result.reset_index(inplace=True)

In [15]:
result

                  gene_id      baseMean
0      ENSMUSG00000000001   1130.325233
1      ENSMUSG00000000028     16.124561
2      ENSMUSG00000000049  15906.033887
3      ENSMUSG00000000056    648.071785
4      ENSMUSG00000000058     51.627029
...                   ...           ...
12941  ENSMUSG00000099146    345.303800
12942  ENSMUSG00000099227     48.969807
12943  ENSMUSG00000099242      9.740592
12944  ENSMUSG00000099250    163.987538
12945  ENSMUSG00000099297     14.869179

[12946 rows x 2 columns]

In [16]:
txi.filter(10,2)

In [18]:
txi.length

,gene_id,Chow_Rep1,Chow_Rep1,Chow_Rep1,HFD_Rep1,HFD_Rep1,HFD_Rep1
0,ENSMUSG00000000001,3213.00,3213.00,3213.00,3213.00,3213.00,3213.00
2,ENSMUSG00000000028,2094.00,1470.08,1957.50,1811.20,1867.80,2035.80
5,ENSMUSG00000000049,1141.00,1141.00,1141.00,1141.00,1141.00,1141.00
6,ENSMUSG00000000056,2548.30,4103.47,3224.95,4068.24,3289.98,3388.22
7,ENSMUSG00000000058,2289.75,1842.86,1471.19,1814.06,1738.50,1469.17
...,...,...,...,...,...,...,...
38846,ENSMUSG00000099146,1035.25,961.47,936.29,907.50,956.98,1038.88
38920,ENSMUSG00000099227,62.00,62.00,62.00,62.00,62.00,62.00
38934,ENSMUSG00000099242,471.00,471.00,471.00,471.00,471.00,471.00
38941,ENSMUSG00000099250,251.00,251.00,251.00,251.00,251.00,251.00
38983,ENSMUSG00000099297,2381.00,2381.00,2381.00,2381.00,2381.00,2381.00